.aboutus {

  &__wrapper {
    display: flex;
    column-gap: 100px;
  }

  &__logo {
    width: 275px;
    margin-bottom: 17px;
  }

  &__left-block {
    padding-left: 82px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__photo {
    width: 612px;
    height: auto;
  }

  &__description {
    width: 558px;
    margin-bottom: 25px;

    font-family: $font;

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    border-radius: 90px;
    padding: 16px 75px;
    font-size: 14px;
  }

  &__facts-list {
    margin-top: 48px;
  }
}

.facts {
  display: flex;

  &__item {
    position: relative;

    &::before {
      content: '';
      width: 19px;
      height: 19px;
      background-color: red;
      border-radius: 100%;

      position: absolute;
      top: 8px;
      left: -4px;
    }

    &:not(:last-child):after {
      content: '';
      width: 1px;
      height: 100%;
      display: block;
      background-color: $c-dark-gray;
      position: absolute;

      top: 0;
      right: 0;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;
    padding-right: 30px;
  }


  &__title {
    display: block;
    position: relative;
    z-index: 2;

    font-family: $font;
    font-size: 47px;
    font-weight: 700;
    color: $c-black;
    line-height: 65px;
  }

  &__subtitle {
    display: block;

    font-family: $font;
    font-size: 13px;
    line-height: 19px;
    color: $c-gray;
  }


}