.footer {
  &__logo {
    display: block;
    width: 242px;
    margin: 0 auto;
  }

  &__logo-wrapper {
    margin: 0 auto;

    a {
      max-width: 242px;
      display: block;
    }
  }

  &__title {
    display: block;
    margin-bottom: 18px;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $c-black;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $c-dark-gray;
    padding-top: 40px;
    padding-bottom: 65px;

    @include _480 {
      padding: 35px 20px;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 40px;

    @include _1280 {
      justify-content: start;
      gap: 90px;
    }

    @include _480 {
      gap: 40px;
    }
  }

  .footer-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 35px;

    @include _1280 {
      flex-grow: 0;
    }

    @include _480 {
      flex-basis: calc(50% - 20px);
      order: 2;
    }

    &__important {
      display: block;
      margin-bottom: 5px;

      font-weight: 500;
      line-height: 24px;
      color: $c-gray;
    }

    &__signature {
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      color: $c-gray;
    }
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @include _768 {
      gap: 45px;
    }
  }

  &__catalog-section {
    @include _992 {
      order: -1;
    }
  }

  .footer-buyers, .footer-catalog-left, .footer-catalog-right {
    @include _480 {
      column-count: 2;
      width: 100%;
      column-gap: 60px;
    }

    li {
      margin-bottom: 15px;

      a {
        font-size: 16px;
        line-height: 21px;
        color: $c-gray;
        transition: $transition;
      }

      &.current-menu-item {
        a {
          color: $c-red;
        }
      }

      &:hover {
        a {
          color: $c-red;
        }
      }
    }
  }

  .footer-catalog-right {
    margin-top: 45px;

    .last-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      text-decoration-line: underline;
      a {
        color: $c-red;
      }
    }
  }

  &__seller-section {
    @include _480 {
      width: 100%;
      order: 4;
    }
  }

  &-additional {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    font-size: 14px;
    font-weight: 500;

    @include _480 {
      margin-top: 25px;
      flex-direction: column;
      text-align: center;
      gap: 6px;
    }

    a {
      color: $c-gray;
    }


    &__left {
      display: flex;
      gap: 60px;

      @include _480 {
        flex-direction: column;
        gap: 6px;
      }
    }
  }

  .footer__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    img {
      max-width: 400px;
    }

    @include _480 {
      margin-top: 25px;
    }
  }
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include _480 {
    margin: 0 auto;
    order: -2;
  }
}