.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.loader-bg {
  background: $c-light-gray;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}

.loader {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  z-index: 30;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $c-red;
  border-color: $c-red transparent $c-red transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}