.kitchen-single {
  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;

    margin-bottom: 21px;
  }
}

.info-module {
  box-shadow: -37.453582763671875px 37.453582763671875px 74.90716552734375px -7.490716457366943px #919EAB3D;

  &__tabs {
    display: flex;

    padding: 17px 31px 0;
    border-bottom: 2px solid $c-gray2;

    @include _480 {
      padding: 17px 0 0;
    }
  }

  &__description-block {
    ul {
      margin-top: 25px;
      margin-bottom: 44px;
      max-width: 417px;

      li:not(last-child) {
        margin-bottom: 14px;
      }

      li {
        position: relative;
        padding-left: 13px;
        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $c-red;
          top: 10px;
          left: 0;
        }
      }
    }
  }

  &__tab {
    color: $c-gray3;
    position: relative;
    padding: 17px 31px;
    flex: 0 0 auto;
    cursor: pointer;

    &.active {
      color: $c-black;
      font-weight: 700;
    }

    &-content {
      display: none;
      font-size: 14px;
      color: $c-black3;
      font-weight: 400;
      line-height: 24px;
      padding: 48px 72px 83px 62px;

      @include _768 {
        padding: 45px 30px 48px;
      }

      @include _480 {
        padding: 45px 15px 48px;
      }

      b {
        font-weight: 700;
      }

      h3 {
        font-weight: 700;
        color: $c-black;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 9px;
      }

      p {
        margin-bottom: 10px;
        line-height: 25px;
      }


      &.active {
        display: block;
      }
    }

    &::after {
      content: "";
      background: $c-red;
      height: 2px;
      position: absolute;
      bottom: -2px;
      transition: .10s all 0.015s;

      left: 100%;
      right: 0;
    }


    &.active::after {
      left: 0;
      right: 100%;
    }

    &.active ~ &::after {
      left: 0;
      right: 100%;
    }

    &.active::after {
      left: 0;
      right: 0;
    }
  }

  &__description {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 115px;

      @include _1280 {
        gap: 70px;
      }

      @include _992 {
        flex-direction: column;
        gap: 50px;
      }
      @include _768 {
        flex-direction: column;
        gap: 30px;
      }
    }

    &-block {
      max-width: 628px;
      width: 100%;

      @include _992 {
        max-width: 100%;
      }
    }
  }
}

.characteristics {

  &-title {
    margin-bottom: 16px !important;
    font-weight: 700;
    line-height: 25px;
  }
  &-block {
    flex-grow: 1;
    min-width: 360px;

    &__info-wrapper {
      padding-top: 7px;
      @include _768 {
        padding-top: 0;
      }
    }

    @include _480 {
      min-width: unset;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: $c-gray5;

    span {
      flex-basis: 50%;
    }
    margin-bottom: 14px;
  }

  &-list__all-btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: $c-gray;

    text-decoration: underline;
  }
}

.swiper-single-kitchen {
  .swiper-slide {
    width: unset !important;
  }
}

.kitchen-gallery__button {
  &-prev {
    rotate: 270deg !important;
  }

  &-next {
    rotate: 90deg !important;
  }
}


.kitchen {
  &__preview {
    display: flex;
    justify-content: space-between;

    margin-bottom: 64px;

    @include _1440 {
      flex-direction: column;
    }

    @include _768 {
      margin-bottom: 45px;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;

      @include _768 {
        flex-direction: column;
        gap: 19px;
      }
    }

    &-right {
      padding: 53px 73px 70px 65px;

      @include  _768 {
        padding-left: 43px;
        padding-right: 23px;
        padding-bottom: 0;
      }
      @include _480 {
        padding-top: 43px;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__parameters-wrapper {
    display: flex;
    flex-direction: column;
    gap: 62px;

    @include _768 {
      gap: 26px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 4px;

    &-block {
      @include _768 {
        margin-bottom: 23px;
      }
    }

    &-title {
      color: $c-gray;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 4px;
      color: $c-gray5;
    }

    &-availability {
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      color: $c-gray5;

      span {
        color: $c-gray;
      }
    }

  }

  &__preview-right {
    display: flex;
    justify-content: space-between;

    @include _768 {
      flex-direction: column;
    }

    .characteristics {

      &-title {
        line-height: 24px;
      }

      &-item {
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
      }

      &-item:last-child {
        margin-bottom: 18px;
      }

      &-block {

        &__button-group {
          margin-bottom: 30px;
          display: flex;
          gap: 13px;
          align-items: center;

          @include _768 {
            margin-bottom: 27px;
          }
        }


        &__info {
          &-order {
            display: flex;
            padding: 13px 35px;
            border-radius: 32px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.5px;
            flex-shrink: 0;
          }

          &-share {
            padding: 0;
          }
        }
      }
    }

    .delivery {
      &-icon {
        position: absolute;
        left: 0;
        top: 7px;
      }

      &-item {
        position: relative;
        padding-left: 24px;
        margin-bottom: 14px;

        b {
          font-size: 13px;
          font-weight: 700;
          line-height: 19px;
          color: $c-black;
          margin-bottom: 4px;
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            background-color: $c-black;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }

        span {
          display: block;
          color: $c-other-gray;
          font-size: 13px;
          font-weight: 400;
          line-height: 19px;
        }
      }

    }
  }
}

.kitchen-slider {
  &__preview {
    max-width: 541px;
    height: 100%;
    width: 100%;
    max-height: 442px;

    @include _480 {
      max-height: 368px;
    }

    overflow: hidden;

    @include _768 {
      order: -1;
    }

    .swiper-slide {
      img {
        object-fit: cover;
        max-height: 100%;
        width: auto;
      }
    }

    .slider-loop {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 5;
      cursor: pointer;

      &:hover {
        .bg {
          fill: $c-red;
        }

        .icon {
          fill: white;
        }
      }
    }
  }

  &__thumb {
    height: 300px;
    overflow: hidden;

    @include _768 {
      height: 60px;
      max-width: 244px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      @include _768 {
        flex-direction: row;
      }
    }

    &button-prev {
      display: none;
    }

    .swiper-slide {
      width: 80px ;
      height: 65px ;
      opacity: 0.6;
      position: relative;

      @include _768 {
        width: 74px !important;
        height: 60px !important;
      }

      &-thumb-active {
        opacity: 1;
      }

      img {
        border-radius: 6px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.kitchen-slider__thumb-wrapper {
  .custom-swiper-button {
    cursor: pointer !important;
    background: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 15px;
      height: 7px;
    }
  }
}

.kitchen-thumb__button {
  &-prev {
    &.swiper-button-disabled {
      background-color: $c-dark-gray;
    }

    rotate: 270deg !important;

    @include _768 {
      rotate: 180deg !important;
    }

    @include _480 {
      width: 29px !important;
      height: 29px !important;

      svg {
        width: 13px;
      }
    }
  }

  &-next {
    rotate: 90deg !important;

    &.swiper-button-disabled {
      background-color: $c-dark-gray;
    }

    @include _768 {
      rotate: 360deg !important;
    }

    @include _480 {
      width: 29px !important;
      height: 29px !important;

      svg {
        width: 13px;
      }
    }
  }
}