.articles-category {

  &__main-title {
    margin-bottom: 38px;
    font-size: 34px;
    font-weight: 800;
    line-height: 51px;
  }
  &__slider-block {
    margin-bottom: 50px;
    display: block;

    overflow: hidden;

    @include _480 {
      margin-bottom: 20px;
    }
  }

  &--articles-container {
    position: relative;
    padding-top: 88px;

    @include _480 {
      padding-top: 60px;
    }
  }

  &--articles-result {

    .wrapper {
      display: grid;
      gap: 43px;
      grid-template-columns: repeat(2, 1fr);

      @include _768 {
        grid-template-columns: repeat(1, 1fr);
      }

      @include _480 {
        gap: 24px;
      }
    }
  }

  &__slider-buttons {
    display: none;
    gap: 8px;

    justify-content: center;

    @include _768 {
      display: flex;
    }

    .custom-swiper-button {
      background: red;
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

.article-card {
  &:hover {
    .article-card__button {
      background-color: $c-red;

      svg {
        path {
          fill: $c-white;
        }
      }
    }
  }

  max-width: 678px;
  height: 411px;

  overflow: hidden;
  position: relative;

  @include _480 {
    height: 251px;
  }

  &__overlay {
    position: absolute;
    left: 42px;
    width: 248px;
    padding: 51px 51px 33px 37px;

    top: 0;
    bottom: 0;
    background: #1E1E1DCC;

    @include _992 {
      padding-right: 40px;
      padding-left: 25px;
      width: 225px;
      height: auto;
    }

    @include _480 {
      padding: 31px 20px 20px 22px;
    }
  }

  &__reading-time {
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    color: $c-white;

    margin-bottom: 14px;

    @include _480 {
      font-size: 12px;
      line-height: 14px;

      margin-bottom: 9px;
    }
  }

  &__title {
    max-width: 160px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: $c-white;

    @include _480 {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__button {
    background-color: $c-dark-gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    position: absolute;
    bottom: 33px;
    left: 37px;

    @include _480 {
      width: 28px;
      height: 28px;
    }

    svg {
      @include _480 {
        width: 12px;
        height: 12px;
        display: block;
      }
      path {
        fill: black;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.swiper-article {
  &__category {

    .swiper-slide {
      width: 325px !important;

      @include _768 {
        width: 173px !important;
      }
    }

    &-prev {
      rotate: 180deg;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    //width: 100%;
    //height: 100%;

    picture {
      display: block;
      margin-bottom: 24px;

      @include _768 {
        margin-bottom: 15px;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }


    &-title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 800;
      color: $c-black;
    }
  }
}