@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Medium.ttf');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Light.ttf');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-Bold.ttf');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}