.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    box-sizing: content-box;

    @include _992 {
        padding: 0 20px;
    }
}

.main {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;

    background-color: $c-light-gray;
}

.button {
    display: inline-block;
    background-color: $c-red;

    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: $c-white;
    text-transform: uppercase;
}