@mixin dot {
    content: '';
    background-color: $c-red;
    border-radius: 100%;
    position: absolute;

    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
}

@mixin button {
    display: inline-block;

    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: $c-white;
    text-transform: uppercase;
}

html, body {
    position: relative;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 15px;
    }
}

.container-s {
    max-width: 1790px;
    margin: 0 auto;
    width: 100%;
}

.main {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;

    background-color: $c-light-gray;

    section {
        padding: 50px 0;

        @include _992 {
            padding: 30px 0;
        }

        &:last-child {
            padding: 50px 0 100px 0;

            @include _992 {
                padding: 30px 0 60px 0;
            }
        }
    }
}

.button {
    @include button;
}

.button--red {
    background-color: $c-red;
}

.section-title {
    font-size: 50px;
    font-weight: 200;
    line-height: 45px;
    color: $c-black;
    position: relative;

    &::before {
        @include dot;

        left: -15px;
        top: 12px;
    }

    &::after {
        @include dot;

        left: -15px;
        top: 27px;
    }
    letter-spacing: 0.02em;
    height: max-content;
}

.swiper-pagination {
    bottom: 30px;

    &-bullet {
        background: $c-dark-gray;
        width: 7px;
        height: 7px;
        opacity: unset;
    }

    &-bullet-active {
        background: $c-red;
        width: 11px;
        height: 11px;
    }
}