$c-dark-black: #000000;
$c-black: #231F20;
$c-black1: #1C1A17;
$c-black2: #505050;
$c-black3: #303030;
$c-gray: #90929F;
$c-gray1: #999999;
$c-gray2: #F1F2F4;
$c-gray3: #8B8B8A;
$c-gray4: #EFEFEF;
$c-gray5: #595959;
$c-gray6: #EBEBEB;
$c-light-gray: #F9F9F9;
$c-dark-gray: #E3E3E3;
$c-other-gray: #9F9F9F;

$c-white: #fff;
$c-red: #ED1C24;

$font: 'Manrope', sans-serif;

$transition: all .3s ease-in-out;

@mixin _1440 {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin _1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}


@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin _375 {
    @media (max-width: 375px) {
        @content;
    }
}