$c-black: #231F20;
$c-gray: #90929F;
$c-white: #fff;
$c-red: #ED1C24;
$c-light-gray: #F9F9F9;


$font: 'Manrope', sans-serif;

$transition: all .3s ease-in-out;

@mixin _1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}


@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}