.main .hero {
  padding: 0 0 50px 0;

  @include _992 {
    padding: 0 0 30px 0;
  }

  .swiper-hero {
    overflow: hidden;
    position: relative;
    border-radius: 9px;

    @include _992 {
      border-radius: 0
    }

    .hero-arrow {
      position: absolute;
      bottom: 41px;
      right: 232px;
      z-index: 1;

      @include _992 {
        display: none;
      }
    }
  }

  .swiper-slide {
    height: 720px;
    position: relative;

    @include _992 {
      height: auto;
      display: flex;
      flex-direction: column-reverse;
    }

    .hero-image {
      width: 100%;
      height: 100%;

      @include _992 {
        height: 284px;
      }

      img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .hero-slide {
      position: absolute;
      top: 0;
      left: 136px;
      height: 100%;
      width: 536px;
      background: rgba(30, 30, 29, 0.8);
      backdrop-filter: blur(18.5px);

      @include _992 {
        height: 100%;
        position: unset;
        width: 100%;
      }

      &-info {
        padding: 96px 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        @include _992 {
          padding: 44px 37px;
          justify-content: flex-start;
        }

        &-label {
          font-size: 20px;
          line-height: 98.52%;
          color: $c-white;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          margin-bottom: 8px;

          @include _992 {
            font-size: 14px;
          }
        }

        &-headline {
          font-weight: 400;
          font-size: 55px;
          line-height: 98.52%;
          color: $c-white;
          margin-bottom: 20px;


          @include _992 {
            font-size: 35px;
          }

          @include _480 {
            font-size: 24px;
          }
        }

        &-subheadline {
          background: $c-white;
          padding: 3px 6px;
          color: $c-black1;
          font-weight: 400;
          font-size: 22px;
          line-height: 98.52%;
          margin-bottom: 41px;
          width: max-content;

          @include _992 {
            font-size: 14px;
          }
        }

        &-link {
          background: $c-red;
          width: max-content;
          padding: 19px 67px;
          letter-spacing: 0.02em;
          border-radius: 110px;

          @include _992 {
            font-size: 12px;
            padding: 15px 54px;
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 43px;

    @include _992 {
      top: 245px;
      height: max-content;
    }

    &-bullet {
      background: $c-white;

      &-active {
        background: $c-red;
      }
    }
  }
}