.main .hero {
  padding: 0 0 50px 0;

  .swiper-hero {
    overflow: hidden;
    position: relative;
    border-radius: 9px;

    .hero-arrow {
      position: absolute;
      bottom: 41px;
      right: 232px;
      z-index: 1;
    }
  }

  .swiper-slide {
    height: 720px;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-pagination {

    &-bullet {
      background: $c-white;
    }
  }
}